*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1380px;
    height: 500px;
    background-color: black;
    margin: 1rem auto;
}

button{
    cursor: pointer;
    background-color: mediumseagreen;
    color: white;
    font-size: 1.2rem;
    height: 55px;
    width: 250px;
    border: 2px solid tomato;
    margin: 1rem;
    font-family: georgia;
    border-radius: 10px;
}

.display{
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 60px;
    margin-top: 50px;
}